<main>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-5" href="{{ "homepage"|page }}">
                <img src="{{ 'assets/images/favicons/favicon-32x32.png'|theme }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item user-dropdown dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ "dom/dom"|page }}" data-bs-toggle="dropdown" aria-expanded="false">Collection</a>
                        <ul class="dropdown-menu">
                            <li class="d-flex align-items-center">
                                <a href="{{ "dom/albums"|page }}"
                                   class="dropdown-item"><i class="nav-col-item fa-solid fa-compact-disc me-2"></i>
                                    Albums</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="{{ "dom/creategame"|page }}"
                                   class="dropdown-item"><i class="nav-col-item fa-solid fa-gamepad me-1"></i> Games</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="d-flex align-items-center">
                                <a href="{{ "dom/books"|page }}"
                                   class="dropdown-item"><i class="nav-col-item fa-solid fa-book me-2"></i> Books</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-text me-4">
                    {% if user %}
                    <li class="user-dropdown nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <p class="pt-3 me-3 username">{{ user.fullname }}</p>
                            <a href="#" class="nav-link dropdown-toggle" id="user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ user.avatar.thumb(50, 50, ('crop')) }}"
                                    alt="User Avatar">
                            </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user">
                            <li>
                                <a class="dropdown-item" href="{{ "user/details"|page }}">
                                    <i class="user-icon fa-solid fa-user-pen mx-2"></i> Edit
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   data-request="onLogout"
                                   data-request-data="{ redirect: '/' }">
                                    <i class="user-icon fa-solid fa-arrow-right-from-bracket"></i> Logout
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    {% else %}
                    <a href="{{ "user/login"|page }}">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
</main>