<div class="d-flex align-items-center mb-3 pb-1">
    <h4 class="sitename"><span class="studio">Studio</span><span class="devs">DEVS</span></h4>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-floating">
            <input type="text" id="login-name" class="form-control form-control-lg" placeholder="name"/>
            <label class="form-label" for="login-name">Imię</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-floating">
            <input type="text" id="login-lastName" class="form-control form-control-lg" placeholder="lastName" />
            <label class="form-label" for="login-lastName">Nazwisko</label>
        </div>
    </div>
</div>

<div class="form-floating mb-4">
    <input type="text" id="email" class="form-control form-control-lg" placeholder="email" />
    <label class="form-label" for="email">Email</label>
</div>

<div class="d-flex justify-content-end pt-3">
    <button type="submit" class="btn btn-devs-reverse btn-lg ms-2">Zarejestruj się</button>
</div>