<!-- About Section -->
<section id="about" class="about section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="{{ 'assets/img/about.jpg'|theme }}" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>Rozwiązania cyfrowe dla Twojego biznesu</h3>
                <p class="fst-italic">
                    "Tworzymy nowoczesne aplikacje i strony internetowe, które nie tylko wyglądają świetnie, ale też
                    działają bez zarzutu."
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check2-all"></i>
                        <span>Dedykowane rozwiązania</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-all"></i>
                        <span>Najwyższa jakość kodu</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-all"></i>
                        <span>Nowoczesne technologie</span>
                    </li>
                </ul>
                <p>
                    <strong>StudioDEVS</strong> to zespół pasjonatów technologii, którzy zamieniają pomysły w działające rozwiązania.
                    Tworzymy inteligentne aplikacje webowe, szybkie i responsywne strony internetowe oraz systemy
                    dostosowane do Twoich wymagań. Naszym celem jest dostarczanie intuicyjnych i funkcjonalnych
                    produktów, które pomagają firmom rozwijać się w świecie cyfrowym.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /About Section -->
