<!-- Features Section -->
<section id="features" class="features section section-background">
    <div class="container">
        <div class="row gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <img class="img-rounded" src="{{ 'assets/img/features.jpg'|theme }}" alt="" />
            </div>
            <div class="col-lg-6">
                <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-archive flex-shrink-0"></i>
                    <div>
                        <h4>Dedykowane rozwiązania</h4>
                        <p>Tworzymy oprogramowanie dopasowane do unikalnych potrzeb Twojej firmy, gwarantując efektywność i wysoką jakość.</p>
                    </div>
                </div>
                <!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-basket flex-shrink-0"></i>
                    <div>
                        <h4>Nowoczesne technologie</h4>
                        <p>Używamy najnowszych technologii, takich jak React, Laravel, i Node.js, aby dostarczyć Ci innowacyjne rozwiązania.</p>
                    </div>
                </div>
                <!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-broadcast flex-shrink-0"></i>
                    <div>
                        <h4>Szybkość i skalowalność</h4>
                        <p>Tworzymy wydajne aplikacje, które rosną razem z Twoim biznesem, zapewniając elastyczność na każdym etapie rozwoju.</p>
                    </div>
                </div>
                <!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
                    <i class="bi bi-camera-reels flex-shrink-0"></i>
                    <div>
                        <h4>Wsparcie po wdrożeniu</h4>
                        <p>Zapewniamy pełne wsparcie po wdrożeniu projektu, w tym konserwację, aktualizacje i optymalizację systemu.</p>
                    </div>
                </div>
                <!-- End Features Item-->

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="600">
                    <i class="bi bi-shield-lock flex-shrink-0"></i>
                    <div>
                        <h4>Bezpieczeństwo i prywatność</h4>
                        <p>Nasze rozwiązania gwarantują najwyższy poziom bezpieczeństwa danych użytkowników, zapewniając pełną zgodność z regulacjami.</p>
                    </div>
                </div>
                <!-- End Features Item-->
            </div>
        </div>
    </div>
</section>
<!-- /Features Section -->
