:root {
    --primary_color: #011936;
    --secondary-color: #9fc490;
    --tertiary-color: #c0dfa1;
    --text-color: #fff;
}

body {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url("/themes/studiodevs/assets/images/dom_background.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.form-control {
    color: var(--primary-color) !important;
}

.offcanvas {
    background-color: var(--primary_color) !important;
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary_color) !important;
    color: var(--secondary-color);
    border-color: var(--primary_color);
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary_color);
    border-color: var(--secondary-color);
}

.section-bg {
    background-color: #f3f5fa;
}

.footer {
    background-color: var(--primary_color);
    color: var(--tertiary-color);
}

.nav-link {
    color: var(--secondary-color) !important;
}

.link-body-emphasis {
    color: var(--secondary-color) !important;
}

.link-body-emphasis:hover {
    color: var(--tertiary-color) !important;
}

.newsletter-button {
    background-color: var(--tertiary-color);
}

.newsletter-button:hover {
    background-color: var(--secondary-color) !important;
}
