:root {
    --primary_color: #011936;
    --secondary-color: #9fc490;
    --tertiary-color: #c0dfa1;
    --text-color: #fff;
}
html {
    font-size: 16px;
}

body {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url("/themes/studiodevs/assets/images/bg_games.jpg");
    background-attachment: fixed;
}

.filter-icon {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.client-logo {
    max-width: 50px;
    max-height: 50px;
}

.scroller {
    overflow-x: scroll;
}

.scroller::-webkit-scrollbar {
    width: 12px;
}
.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(159, 196, 144, 0.3); 
}

.scroller::-webkit-scrollbar-thumb {
    background-color:#fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

.scroller::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to right, rgba(159, 196, 144, 0), rgba(159, 196, 144, 1));
}

.footer {
    background-image: url("/themes/studiodevs/assets/images/footer-bg.jpg") !important;
    background-size: contain;
}

h1, h2, h3, h4, h5, h6, p, a, .filters {
    color: var(--text-color);
}

input {
    color: var(--primary_color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.pagination {
    --bs-pagination-color: var(--primary_color) !important;
    --bs-pagination-hover-color: var(--secondary-color) !important;
}

.active>.page-link {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}

.rpg {
    background-color: #820933;
}
.action {
    background-color: #3ABEFF;
}
.tpp {
    background-color: #9C6615;
}
.fpp {
    background-color: #73BFB8;
}
.rts {
    background-color: #9C6615;
}
.strategy {
    background-color: #ae751f;
}
.western {
    background-color: #709576;
}
.card-game {
    background-color: #134d1d;
}

.searchbox {
    width: 734px;
}

.rating {
    display: flex;
    width: 4ch; /* Set this to slightly wider than the longest string */
    align-items: center;  
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;  

    color: #fff;
    text-align: center;
}
.rating-personal {
    background: #33673B;
    border: 2px solid #709576;
}

.rating-community {
    background: #E2C044;
    border: 2px solid #f1e0a2;
}

.finished {
    color:#011936;
}

.form-switch {
    color: var(--secondary-color) !important;
    fill: #011936 !important;
}

.card-img-top {
    height: 223.875px;
}

.navbar {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav-col-item {
    color: var(--secondary-color);
}

.user-dropdown {
    list-style: none;
}

.username {
    color: var(--secondary-color);
    font-size: .9rem;
}

.user-icon {
    color: var(--secondary-color);
}

.user-details {
    background-color: #f3f5fa;
}

.form-label {
    color: var(--text-color);
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.form-control {
    color: var(--primary-color) !important;
}

.offcanvas {
    background-color: var(--primary_color) !important;
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary_color) !important;
    color: var(--secondary-color);
    border-color: var(--primary_color);
}

.btn-primary-reverse {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary_color);
    border-color: var(--secondary-color);
}

.btn-primary-reverse:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-color: var(--tertiary-color);
}

.section-bg {
    background-color: #f3f5fa;
}

.footer {
    background-color: var(--primary_color);
    color: var(--tertiary-color);
}

.nav-link {
    color: var(--secondary-color) !important;
}

.link-body-emphasis {
    color: var(--secondary-color) !important;
}

.link-body-emphasis:hover {
    color: var(--tertiary-color) !important;
}

.newsletter-button {
    background-color: var(--tertiary-color);
}

.newsletter-button:hover {
    background-color: var(--secondary-color) !important;
}