<div class="d-flex align-items-center mb-3 pb-1">
    <h4 class="sitename"><span class="studio">Studio</span><span class="devs">DEVS</span></h4>
</div>

<h5 class="fw-normal mb-3 pb-3">Łączymy kreatywność z technologią. Zaloguj się!</h5>

<div class="form-floating mb-4">
    <input type="email" name="email" id="login-email" class="form-control form-control-lg" placeholder="email" />
    <label class="form-label" for="login-email">Email</label>
</div>

<div class="form-floating mb-4">
    <input type="password" id="login-password" class="form-control form-control-lg" placeholder="password" />
    <label class="form-label" for="login-password">Hasło</label>
</div>

<div class="pt-1 mb-4">
    <button class="btn btn-dark btn-lg btn-block btn-devs-reverse" type="button">Zaloguj się</button>
</div>
<p class="mb-3">
    <a class="small login-link" href="#!">Nie pamiętasz hasła?</a>
</p>
<p class="mb-5 pb-lg-2 text-muted">Nie masz jeszcze konta?
    <a href="{{ 'register'|page }}" class="login-link">Zarejestruj się</a>
</p>
<a href="#!" class="login-link small">Polityka prywatności</a>